---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Markdoc - SydJS June 21, 2023.</title>
	</head>
	<body>
		<h1>Markdoc - SydJS June 21, 2023.</h1>
		
		<h2>Semantic content</h2>
		<ul>
			<li><a href="/semantic/html">HTML content</a></li>
			<li><a href="/semantic/markdown">Markdown content</a></li>
			<li><a href="/semantic/mdx">MDX content</a></li>
		</ul>

		<h2>Custom elements</h2>
		<ul>
			<li><a href="/custom/html">HTML content</a></li>
			<li><a href="/custom/markdown">Markdown content</a></li>
			<li><a href="/custom/mdx">MDX content</a></li>
		</ul>
	</body>
</html>
